@page
@model AbbyWeb.Pages.Customer.Cart.OrderConfirmationModel


<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Đặt hàng thành công</h1>
        Mã đơn hàng của bạn là : @Model.OrderId <br /><br />
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Bạn đã đặt hàng thành công <br />
        Hãy đến đúng giờ để tận hưởng  thức ăn
    </div>
</div> 

